Pull only new records using the filter[start/end-timestamp]

Currently, the flows seem to be pulling all data every 3 minutes. It could be a big problem for servers if they have large datasets. Could we pull only new data based on a timestamp filter?

See https://floip.gitbooks.io/flow-results-specification/content/api-specification.html#get-responses-for-a-package
- filter[start-timestamp]: Only show Responses that were recorded after this timestamp (exclusive). (This is a timestamp in the format of RFC 3339, section 5.6, date-time.)
- filter[end-timestamp]: Only show Responses that were recorded before and on this timestamp (inclusive). (This is a timestamp in the format of RFC 3339, section 5.6, date-time.)